@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    padding: 0;
    margin: 0;
}

body{
    margin: 0 auto;
}

nav{
	padding-top: 2%;
    margin-left: 7%;
}

nav ul
{
    font-family: "Open Sans", serif;
    font-weight: 300;
}


nav ul li{
	display: inline;
	padding: 7px;
	font-size: 1.875em;

}

nav ul li a{
	text-decoration: none;
  	color: #fff;
}

nav ul li a:hover
{
    border-bottom: 3px solid #fff;
}

.container
{
    width: 100%;
    margin: 0 auto;
}

.banner-portfolio
{
    background:#330040;
}

.banner-portfolio header
{
    /*background-color: rgb(93,0,118, 0.3);*/
    background-color: rgb(45, 52, 54, 0.6);
    padding: 1%;
}

.welcome
{
    display: flex;
    margin: 1% 0;
   
}

.welcome h2
{   
    color: #fff;
    font-family: "Roboto", serif;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    width: 40%;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-left: 3%;
    
}

.welcome a
{   
    margin-left: 17%;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    background-color: #5D0076;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 1% 1% 1% 1%;
}

.welcome a:hover
{
    background-color: rgb(45, 52, 54);
}

.welcome-icon
{
    display: flex;
    padding-right: 5%;
}

.profile-img{
    position: absolute;
    width: 100%;
    top: 250px;
}

.profile-img img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    
}

.profile-img figcaption
{
    color: #000;
}